body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 221, 221);  
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    z-index: 1;
    border-bottom: 3px solid rgb(197, 197, 197);
    
}

.logo-container .logo {
    height: 80px;  
    padding-left: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .user-image {
    width: 40px;  
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;

}

aside {
    background-color: #f0f0f0;  
    width: 230px;  
    position: fixed;
    top: 104px;  
    bottom: 0;
    text-align: center;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-left: 5px solid transparent;
}

.nav-item:hover a {
    background-color: #E15100;  
}

.nav-item.active a {
    background-color: #8140EC;
    border-left: 5px solid #8140EC;
}

main {
    margin-left: 240px;  
    padding: 20px;
    margin-top: 100px;
}

.add-client-btn {
    border: 2px solid #8140EC;  
    background-color: transparent;
    border-radius: 10px;  
    padding: 10px 20px;
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
    color: #8140EC; 
}

.add-client-btn:hover {
    background-color: #8140EC; 
    color: white; 
    border-color: #5a2d8200;  
}


.filter-btn {
    border: 2px solid #8140EC;  
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    color: #8140EC;
}

.filter-btn {
    border: 2px solid #8140EC;  
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;  
    padding: 10px 20px;
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
}

.filter-btn:hover {
    background-color: #8140EC; 
    color: white;  
    border-color: #5a2d8200;  
}


.edit-button {
    padding: 3px 6px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 10px solid rgba(0, 100, 0, 0);
    background-color: rgb(57, 192, 57);
    color: white;
}

.delete-button {
    padding: 3px 6px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 10px solid rgba(139, 0, 0, 0);
    background-color: rgb(233, 48, 48);
    color: white;
}
 
.table-container {
    border: 2px solid #8140EC;  
    border-radius: 10px;  
    overflow: hidden;  
    margin-top: 20px; 
}

table {
    width: 100%;  
    border-collapse: separate; 
    border-spacing: 0;  
    table-layout: auto;  
}

thead th {
    background-color: #ffffff;  
    color: rgb(82, 82, 82); / 
    padding: 10px; 
}

tbody td {
    padding: 10px;  
    color: #333; 
    vertical-align: middle;  
}

tbody tr:nth-child(odd) {
    background-color: rgb(238, 238, 238);  
}

tbody tr:nth-child(even) {
    background-color: #ffffff;  
}

th:nth-child(1), td:nth-child(1) {  
    width: 10%;  
    background-color: rgba(166, 166, 166, 0.363);
    text-align: center;

}

th:nth-child(2), td:nth-child(2) {  
    width: 20%;  
    text-align: center;
}

th:nth-child(3), td:nth-child(3) {  
    width: 25%;  
    background-color: rgba(166, 166, 166, 0.363);
    
}

th:nth-child(4), td:nth-child(4) { 
    width: 15%; 
    text-align: center;
}

th:nth-child(5), td:nth-child(5) { 
    width: 15%;  
    background-color: rgba(166, 166, 166, 0.363);
    text-align: center;
}

th:nth-child(6), td:nth-child(6) {  
    width: 14%;  
    text-align: center;
}
